.App {
  text-align: center;
}

.App-header {
  background-color: #21252b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

ol {
  text-align: left;
}

li {
  color: #e9ebf6;
  background: #7d7d7d;
  font-family: "Fraunces", serif;
  font-size: 40px;
  height: 200px;
  width: 80vw;
  padding-left: 35px;
  list-style: none;
  margin-bottom: 15px;
  border-radius: 10px;
  /* -webkit-box-shadow: 3px 3px 5px 6px rgb(0, 0, 0); 
  -moz-box-shadow: 3px 3px 5px 6px rgb(0, 0, 0);  */
  box-shadow: 3px 3px 5px 4px #00000095; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

a {
  color: #ffbb9e;
}

@import url("https://fonts.googleapis.com/css2?family=Fraunces&display=swap"); /* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
